/.idea/
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
clover.xml
Homestead.json
Homestead.yaml
junit.xml
npm-debug.log
yarn-error.log
